<!DOCTYPE html>
{%block extends base.html%}

{%block nav%}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #bccfbc;">
        <div class="container-fluid">
          <a class="navbar-brand" href="home">Student Performance Monitoring System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-lg-flex justify-content-evenly" id="navbarNavDropdown" >
            <ul class="navbar-nav">
              <li class="nav-item"> 
                <a class="nav-link" href="home" >Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="CoPloAnal">CO WISE PLO ANALYSIS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="coursePloAnal">COURSE WISE PLO ANALYSIS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="PloAchievement">PLO ACHIEVEMENT TABLE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="QuestionBank">QUESTION BANK ACCESS</a>
              </li>
            </ul>
            <a class="nav-link" href="logout">Logout</a>
          </div>
        </div>
    </nav>
    {%endblock Nav%}
    <div>
      {% block graph1%}
      {% autoescape off%}
      {{plot1 | safe}}
      {% endautoescape %}
      {% endblock %}
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>