{%extends "student/sNavSide.html"%}

{%block content%}
<div class="row">
    <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
              <h2 class="card-title">Course wise PLO Analysis</h2>
          </div>
        </div>
        <div class="card-body" style="height:450px;" >
          <div class="chart-area">
              {{courseploanal|safe}}
          </div>
        </div>
    </div>
</div>

<div class = "row" id ="pie">

</div>
{%endblock%}