{%extends "student/sNavSide.html"%}

{% block content%}
<form action="{% url 'CourseOutline'%}" method="GET">
    {% csrf_token %}
    <div class="form-row row">
        <div class="form-group col-md-4 col">
          <label for="cid">Course ID:</label>
          <input type="text" class="form-control" name="courseid"  placeholder="CSE101">
        </div>
        <div class="form-group col-md-4 col">
          <label for="semer">Semester</label>
          <input type="text" class="form-control" name="semester" placeholder="Spring 2020">
        {% comment %} <small class="form-text text-muted">We'll never share your email with anyone else.</small> {% endcomment %}
        </div>


        <div class="form-group col-md-4 col">
          <label for="sec">Section no.:</label>
          <input type="text" class="form-control" name="section"  placeholder="9">
        </div>

        <p><br></p>
    <center><button type="submit" class="btn btn-primary col-4" >View Course Outline</button></center>
  </form>
  <br><br><br><br>
  
  <div>
  
    <div>

    </div>

{%include "Student\outline_info.html"%}

    
{%endblock%}

