{%extends "student/sNavSide.html"%}

<div>
{%block content%}
<div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header ">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h2 class="card-title"><i class="tim-icons icon-chart-bar-32 text-info"></i>PLO Analysis</h2>
            </div>
          </div>
        </div>
        <div class="card-body" style="height:450px;" >
          <div class="chart-area">
              {% comment %} {{PloCompare|safe}} {% endcomment %}
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-6">
      <div class="card card-chart">
        <div class="card-header">
          <h3 class="card-title"><i class="tim-icons icon-chart-bar-32 text-warning"></i>Percentage of CLO Achieved</h3>
        </div>
        <div class="card-body">
          <div class="chart-area">
            {{COAchievement|safe}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card card-chart">
        <div class="card-header">
          <h3 class="card-title"><i class="tim-icons icon-chart-bar-32 text-warning"></i>Percentage of PLO Achieved</h3>
        </div>
        <div class="card-body">
          <div class="chart-area">
            {{PLOAchievePercent|safe}}
          </div>
        </div>
      </div>
    </div>  

  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card card-chart">
        <div class="card-header">
          <h3 class="card-title"><i class="tim-icons icon-atom text-primary"></i> GPA Performance</h3>
        </div>  
        <div class="card-body">
          <div class="chart-area">
            {{GPAAnalysis|safe}}
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-6">
      <div class="card card-chart">
        <div class="card-header">
          <h3 class="card-title"><i class="tim-icons icon-chart-bar-32 text-warning"></i>PLO Achieved</h3>
        </div>
        <div class="card-body">
          <div class="chart-area">
            {{PLOAchievement|safe}}
          </div>
        </div>
      </div>
    </div>

  </div>
{%endblock%}

{%block javascript%}
{% comment %} <script>
var ctx = document.getElementById("ploperformance").getContext("2d");
colors =  ['#5CC8D7FF','#00539CFF','#EEA47FFF','#2C5F2D','#97BC62FF','#CE4A7EFF','#FC766AFF','#603F83FF','#006D77'
    ,'#E29578','#264653','#81b29a','#8d99ae']

var gradientStroke = ctx.createLinearGradient(0, 230, 0, 50);

gradientStroke.addColorStop(1, 'rgba(29,140,248,0.2)');
gradientStroke.addColorStop(0.4, 'rgba(29,140,248,0.0)');
gradientStroke.addColorStop(0, 'rgba(29,140,248,0)');


var myChart = new Chart(ctx, {
  type: 'bar',
  responsive: true,
  legend: {
    display: false
  },
  data: {
    labels: {{plolabel1|safe}},
    datasets: [{
      label: 'PLO Percentage',
      fill: true,
      backgroundColor: gradientStroke,
      hoverBackgroundColor: gradientStroke,
      borderColor: '#5CC8D7FF',
      borderWidth: 2,
      borderDash: [],
      borderDashOffset: 0.0,
      data: {{plodata1|safe}},
    }]
  },
   options: {
      scales: {
          xAxes: [{
              stacked: true,
              gridLines: {
                  display: false,
              }
          }],
          yAxes: [{
              stacked: true,
              ticks: {
                  beginAtZero: true,
                  max:100,
              },
              type: 'linear',
          }]
      },

      responsive: true,
  }
});
</script> {% endcomment %}

{%endblock%}
