<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <div class="logo">
            <img src="\SPMS\images\IUBlogo.png" alt="">
        </div>
        <form action="">
            <input type="text" placeholder="User ID">
            <br>
            <input type="password" placeholder="Password">
        </form>
        <div class="button">
            <button>Log In</button>
        </div>

    </div>

</body>
</html>